In [1]:
import pandas as pd
from pathlib import Path

In [2]:
#load datasets
jan_citibike_toload = Path("../Tableau project challenge/Resources/Jan_2024_citibike.csv")
feb_citibike_toload = Path("../Tableau project challenge/Resources/Feb_2024_citibike.csv")
march_citibike_toload = Path("../Tableau project challenge/Resources/March_2024_citibike.csv")

#read datasets
jan_citibike = pd.read_csv(jan_citibike_toload)
feb_citibike = pd.read_csv(feb_citibike_toload)
march_citibike = pd.read_csv(march_citibike_toload)

In [3]:
jan_citibike.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0744109F13385D1D,electric_bike,2024-01-15 15:18:07,2024-01-15 15:32:44,Morris Canal,JC072,Oakland Ave,JC022,40.712297,-74.038185,40.737604,-74.052478,member
1,B1488BFEF9118000,classic_bike,2024-01-13 15:32:50,2024-01-13 15:36:18,JC Medical Center,JC110,Grove St PATH,JC115,40.715391,-74.049692,40.719410,-74.043090,member
2,95A2FE8E51B4C836,classic_bike,2024-01-19 13:11:00,2024-01-19 13:14:44,Morris Canal,JC072,Exchange Pl,JC116,40.712419,-74.038526,40.716366,-74.034344,member
3,95D9AFF6A1652DC1,classic_bike,2024-01-23 07:03:49,2024-01-23 07:07:11,Morris Canal,JC072,Exchange Pl,JC116,40.712419,-74.038526,40.716366,-74.034344,member
4,5F7408988A83B1B3,classic_bike,2024-01-01 16:46:10,2024-01-01 16:50:31,Morris Canal,JC072,Harborside,JC104,40.712419,-74.038526,40.719252,-74.034234,member

In [4]:
feb_citibike.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,A841EF9C3617E47B,electric_bike,2024-02-12 16:17:19,2024-02-12 16:23:24,Adams St & 2 St,HB407,Stevens - River Ter & 6 St,HB602,40.739701,-74.036831,40.743133,-74.026989,casual
1,514881A61CAD0A93,electric_bike,2024-02-04 15:04:16,2024-02-04 15:40:14,Adams St & 2 St,HB407,Stevens - River Ter & 6 St,HB602,40.739741,-74.036824,40.743133,-74.026989,casual
2,511F37086CCC4510,electric_bike,2024-02-16 16:23:16,2024-02-16 16:27:16,Clinton St & Newark St,HB409,Stevens - River Ter & 6 St,HB602,40.737508,-74.035715,40.743133,-74.026989,casual
3,27A2AA8BDD0D1F6E,classic_bike,2024-02-25 17:05:01,2024-02-25 17:10:53,Adams St & 2 St,HB407,Stevens - River Ter & 6 St,HB602,40.739814,-74.036904,40.743133,-74.026989,member
4,2808ABEC0903C18E,electric_bike,2024-02-29 15:21:15,2024-02-29 15:26:03,Adams St & 2 St,HB407,Stevens - River Ter & 6 St,HB602,40.739712,-74.036858,40.743133,-74.026989,member

In [5]:
march_citibike.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,9F5EEFB7CF78C6EA,electric_bike,2024-03-21 13:32:42,2024-03-21 13:35:42,Stevens - River Ter & 6 St,HB602,City Hall - Washington St & 1 St,HB105,40.743143,-74.026907,40.737360,-74.030970,member
1,01E2E1F218F9D303,electric_bike,2024-03-16 08:26:15,2024-03-16 08:47:53,Pershing Field,JC024,Pershing Field,JC024,40.742379,-74.051996,40.742677,-74.051789,member
2,C2914D662B33AA55,electric_bike,2024-03-15 15:17:36,2024-03-15 15:32:12,Pershing Field,JC024,Pershing Field,JC024,40.742480,-74.051942,40.742677,-74.051789,member
3,6723F7CE51888493,electric_bike,2024-03-13 08:34:26,2024-03-13 08:50:08,Pershing Field,JC024,Pershing Field,JC024,40.742400,-74.051963,40.742677,-74.051789,member
4,EAB7E29AAB546941,electric_bike,2024-03-15 15:37:58,2024-03-15 16:19:32,Pershing Field,JC024,Pershing Field,JC024,40.742459,-74.051973,40.742677,-74.051789,member

In [13]:
jan_feb_merged_citibike = pd.merge(jan_citibike, feb_citibike)

In [14]:
jan_feb_merged_citibike

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []